<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpertHomeServlet</servlet-name>
        <servlet-class>ExpertHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeServlet</servlet-name>
        <servlet-class>UserHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostQueryServlet</servlet-name>
        <servlet-class>PostQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QpostSuccessServlet</servlet-name>
        <servlet-class>QpostSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQueriesServlet</servlet-name>
        <servlet-class>ViewQueriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostAnsServlet</servlet-name>
        <servlet-class>PostAnsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostAnsSuccess</servlet-name>
        <servlet-class>PostAnsSuccess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpertHomeServlet</servlet-name>
        <url-pattern>/ExpertHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeServlet</servlet-name>
        <url-pattern>/UserHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostQueryServlet</servlet-name>
        <url-pattern>/PostQueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QpostSuccessServlet</servlet-name>
        <url-pattern>/QpostSuccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQueriesServlet</servlet-name>
        <url-pattern>/ViewQueriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostAnsServlet</servlet-name>
        <url-pattern>/PostAnsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostAnsSuccess</servlet-name>
        <url-pattern>/PostAnsSuccess</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
